<div class="col-md-10 col-md-offset-1 clearfix">
<div class="image_wrap">
    <div class="top_image">
        <%= image_tag '/top_images/kanpou_toppage.jpg' %>
    </div>
    <div class="site_description">
        <h1>E-薬局</h1>
        <p>体のこと、健康のことを相談できる薬局があなたの近くにきっとあります。</p>
        <p>お一人で悩まないで、相談してみてください。</p>
    </div>
</div>
</div>

