<div class="container">
  <figure class="shop_img">
    <%= image_tag "/top_images/shop_detail_20.jpg" %>
  </figure>
  <div class="row">
    <ul class="product">
      <li>
        
      </li>
    </ul>
  </div>
</div>