<<<<<<< HEAD
<div class="container">
  <figure class="shop_img">
    <%= image_tag "/top_images/shop_detail_20.jpg" %>
  </figure>
  <div class="row">
    <ul class="product">
      <li>
        
      </li>
    </ul>
=======
<div class="container" style="width: 80%">
  <div class="row">
    <aside class="col-md-3">
      <div id="shop_name">
        <%= @shop.name %>
      </div>    
      <%= image_tag(@shop.shop_img_url) %>
    </aside>
    <div class="col-md-9">
    </div>
>>>>>>> 1dc7385d28732438a05c4f5d553bec4f306a5f4e
  </div>
</div>